network/__pycache__
__pycache__
resultado.txt
monografia/cap-embasamento_teorico.log
monografia/cap-introducao.log
monografia/monografia_template.aux
monografia/monografia_template.idx
monografia/monografia_template.log
monografia/monografia_template.out
monografia/monografia_template.pdf
monografia/monografia_template.toc
*.pyc
